@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        @{
            Html.RenderPartial("EPPLUS");
        }
    </div>
    <div class="col-md-3">
        @{
            Html.RenderPartial("NPOI");
        }
    </div>
    <div class="col-md-6" id="reporte-content">
        @{
            Html.RenderAction("Tiempos");

        }
    </div>
</div>
