@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        @{
            Html.RenderPartial("EPPLUSResult");
        }
    </div>
    <div class="col-md-4">
        @{
            Html.RenderPartial("NPOIResult");
        }
    </div>
    <div class="col-md-4" id="reporte-content">
        <h2>que ondas</h2>
    </div>
</div>