
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        @{
            Html.RenderPartial("ITextSharp");
        }
    </div>
    <div class="col-md-3">
       
    </div>
    <div class="col-md-6" id="reporte-content">
        
    </div>
</div>